
# --- CORE DJANGO ---
Django==5.2.13                     

# --- DJANGO PACKAGES ---
django-activity-stream==2.0.0      
django-annoying==0.10.8
django-celery-beat==2.9.0         
django-ckeditor-5==0.2.20         
django-cleanup==9.0.0              
django-csp==4.0                   
django-debug-toolbar==6.3.0        
django-email-obfuscator==0.1.5
django-environ==0.13.0             
django-extensions==4.1             
django-filter==25.2                
django-js-asset==3.1.2
django-model-utils==5.0.0          
django-ordered-model==3.7.4        
django-permissions-policy==4.29.0  
django-sendfile2==0.7.2
django-session-timeout==0.1.0
django-settings-export==1.2.1
django-soft-delete==0.9.21         
django-timezone-field==7.2.1       
djangorestframework==3.17.1        

# --- MOZILLA OIDC / KEYCLOAK ---
mozilla-django-oidc==5.0.2         
python-keycloak==7.1.1             

# --- CELERY / ASYNC ---
celery==5.6.3                      
redis==7.4.0                       

# --- CRYPTO / SÉCURITÉ ---
cryptography==46.0.7               
pyOpenSSL==26.0.0                  

# --- HTTP / RÉSEAU ---
requests==2.33.1                   

# --- BASE DE DONNÉES ---
psycopg[binary]==3.3.3            

# --- DOCUMENTS (docx, excel) ---
python-docx==1.2.0                 
docxtpl==0.20.2                    
docxcompose==2.1.0                 
lxml==6.0.4
XlsxWriter==3.2.9                 

# --- TEMPLATES / FORMATS ---
Jinja2==3.1.6                      

# --- UTILITAIRES ---
python-dateutil==2.9.0.post0       
python-dotenv==1.2.2               
python-magic==0.4.27
tzdata==2026.1                     
packaging==26.1                    
python-crontab==3.3.0              

# --- API / SCHEMA ---
drf-spectacular==0.29.0            

# --- SERVEUR ---
uWSGI==2.0.31                      
whitenoise==6.12.0                 

# --- DIVERS ---
setuptools==82.0.1                 