{% extends "base_email.html" %}
{% load email_obfuscator %}
{% block email_content %}

<p>Bonjour,</p>

<p>La réponse au questionnaire {{ questionnaire.title }} arrive à échéance dans {{ jours_echeance }} jours.</p>

<ul>
    <li>Espace de dépôt : {{ questionnaire.control.reference_code }}</li>
    <li>Questionnaire : {{ questionnaire.title }}</li>
</ul>

<p>Vous pouvez accéder au questionnaire en vous rendant à <a href="https://{{ site.domain }}/questionnaire/{{ questionnaire.id }}/">cette adresse</a></p>

<p>Cordialement</p>

<p>L'équipe collecte-pro</p>

{% endblock email_content %}
