{% extends "base_tabler.html" %}
{% load static %}
{% block site_title %}
  <title>Accueil | collecte-pro</title>
{% endblock site_title %}
{% block extra_static_header %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/presentation.css' %}">
{% endblock extra_static_header %}

{% block content %}
  <div id="page" class="page container-fluid"> <!--// opening: page  //-->
    <div id="non-footer" class="flex-column flex-grow-1">
      <header class="header flex-row justify-content-between" role="banner"> <!--// opening: top_header  //-->
        <div class="container flex-row">
          <div class="flex-column">
            <a class="header-brand" href="/accueil" title="Accueil - collecte-pro">
              <img src="/static/img/logo-footer.png" class="logo" alt="Accueil de collecte-pro" />
              <img src="/static/img/collecte-pro-3D.png" class="logo small" />
            </a>
          </div>
          <ul class="nav nav-tabs border-0 flex-row flex-grow-1 justify-content-center links">
              <li class="nav-item">
                {% url 'presentation:accueil' as presentation_accueil_url %}
                <a class="nav-link nav-link-thick-line {% if request.path == presentation_accueil_url %}active{% endif %}"
                  href="{% url 'presentation:accueil'%}">
                  Accueil
                </a>
              </li>
              <li class="nav-item">
                {% url 'presentation:presentation' as presentation_presentation_url %}
                <a class="nav-link nav-link-thick-line {% if request.path == presentation_presentation_url %}active{% endif %}"
                  href="{% url 'presentation:presentation'%}">
                  Présentation
                </a>
              </li>
          </ul>
          <ul class="nav nav-tabs border-0 flex-row flex-grow-1 justify-content-end links">
              <li class="nav-item">
                {%if settings.KEYCLOAK_ACTIVE %}
                <a class="btn btn-primary btn-block"
                  href="{% url 'oidc_authentication_init' %}">
                  Connexion
                </a>
                {%else%}
                <a class="btn btn-primary btn-block"
                  href="{% url 'login' %}">
                  Connexion
                </a>
                {%endif%}
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-thick-line"
                  href="{% url 'faq'%}">
                  FAQ
                </a>
              </li>
          </ul>
        </div>
      </header>  <!--// closing: top_header  //-->
      <div id="presentation" class="page-main flex-row"> <!--// opening: main_page  //-->
        <main class="mt-3 mt-md-5 flex-grow-1 ml-6 ie-flex-row-child" role="main">
          {%if alerte%}
          <div id="alerte">
            <div class="justify-content-center align-items-center row">
              <div class="alert alert-danger alert-icon" role="alert">
                <span class="fe fe-alert-triangle" aria-hidden="true"></span>
                <p>{{alerte.text}}</p>
              </div>
            </div>
          </div>
          {%endif%}
          {% block page_main_container %}
          <section>
            <div class="presentation">
              <div class="text left">
                <h1>Bienvenue sur collecte-pro</h1>
                <p>Votre service de transmission de documents entre administration et organismes</p>
              </div>
              <div class="illustration right">
                <img src="/static/img/bienvenue_2.jpg" />
              </div>
            </div>
          </section>

          <section>
            <div class="presentation">
              <div class="text left">
                <h1>Le processus</h1>
                <p>Équipe d'instruction</p>
                <p>
                  <ul>
                    <li class="multilines"><span class="marker">1</span><span class="text"><strong>Créez des espaces de dépôt</strong> étanches pour chaque organisme interrogé</span></li>
                    <li><span class="marker">2</span><span class="text"><strong>Créez vos questionnaires</strong> dans chaque espace de dépôt</span></li>
                    <li><span class="marker">3</span><span class="text"><strong>Ouvrez les accès</strong> aux membres de votre équipe et aux agents désignés des organismes interrogés</span></li>
                    <li><span class="marker">4</span><span class="text"><strong>Soyez alerté</strong> si des réponses sont déposées</span></li>
                    <li><span class="marker">5</span><span class="text"><strong>Visualisez les réponses</strong> directement sur la plateforme sous chaque question</span></li>
                    <li><span class="marker">6</span><span class="text"><strong>Exportez les réponses</strong> dans un fichier compressé</span></li>
                  </ul>
                </p>
              </div>
              <div class="illustration right">
                <img src="/static/img/processus.png" />
              </div>
            </div>
          </section>

          <section>
            <div class="presentation">
              <div class="text">
                <h1>Nos partenaires</h1>
              </div>
              <div class="row">
                <div class="card border-0 m-5 partner-img">
                  <img class="card-img-top" src="/static/img/partenaire_ministeres_sociaux.png" />
                </div>
                <div class="card border-0 m-5 partner-img">
                  <img class="card-img-top" src="/static/img/partenaire_ministere_transition.png" />
                </div>
                <div class="card border-0 m-5 partner-img">
                  <img class="card-img-top" src="/static/img/partenaire_igedd.jpg" />
                </div>
                <div class="card border-0 m-5 partner-img">
                  <img class="card-img-top" src="/static/img/partenaire_cour_comptes.png" />
                </div>
                <div class="card border-0 m-5 partner-img">
                  <img class="card-img-top" src="/static/img/partenaire_igas.png" />
                </div>
                <div class="card border-0 m-5 partner-img">
                  <img class="card-img-top" src="/static/img/partenaire_france_relance.png" />
                </div>
              </div>
            </div>
          </section>

          <section>
            <div class="presentation">
              <div class="text left">
                <h1>Nos évolutions</h1>
                <p>
                  <ul>
                    <li class="icon plus">Duplication des espaces de dépôt et des questionnaires</li>
                    <li class="icon plus">Filtrage et sélection des documents à exporter</li>
                    <li class="icon plus">Gestion des statuts des questionnaires</li>
                  </ul>
                </p>
              </div>
              <div class="illustration vertical-middle large">
                <a href="https://github.com/SocialGouv/collecte-pro/blob/main/CHANGELOG.md" target="_blank">Dernières nouveautés</a>
              </div>
            </div>
          </section>

          {% endblock page_main_container %}
        </main>
      </div>  <!--// closing: main_page  //-->
    </div>
    {% block footer %}
      {% include "footer.html" %}
    {% endblock footer %}
  </div> <!--// closing: page  //-->

{% endblock content %}
