{% extends "presentation/accueil.html" %}
{% load static %}
{% block site_title %}
  <title>Tester collecte-pro | collecte-pro</title>
{% endblock site_title %}

{% block page_main_container %}
          <section>
            <div class="presentation">
              <div class="text left">
                <h1>Tester collecte-pro</h1>
                <p>
                Nous vous proposons de découvrir les fonctionnalités de la solution en
                vous donnant accès gratuitement à notre plateforme de démonstration :
                <a href="https://demo.collecte-pro.gouv.fr">demo.collecte-pro.gouv.fr</a>
                </p>
                <p>
                Aucun téléchargement. Aucun logiciel à installer. Aucun frais.
                </p>
                <p>
                Demandez un accès illimité à toutes les fonctions et capacités de
                collecte-pro en remplissant le formulaire ci-contre. Découvrez par
                vous-même comment collecter simplement des documents.
                </p>
                <p>
                En utilisant collecte-pro, vous vous engagez à respecter les CGU.
                </p>
              </div>
              <div class="form right">
                <form class="contact" method="post" action="">
                  {% csrf_token %}
                  <h2 class="text-center">Pour en savoir plus sur collecte-pro</h2>
                  <div class="form-group">
                    <label for="lastname" class="form-label mandatory">Nom :</label>
                    <input type="text" name="lastname" size="40"
                        class="form-control {% if form.errors %}state-invalid {% endif %}"
                        id="lastname" aria-describedby="lastnameHelp"
                        placeholder="Votre nom" required />
                  </div>

                  <div class="form-group">
                    <label for="firstname" class="form-label mandatory">Prénom :</label>
                    <input type="text" name="firstname" size="40"
                        class="form-control {% if form.errors %}state-invalid {% endif %}"
                        id="firstname" aria-describedby="firstnameHelp"
                        placeholder="Votre prénom" required />
                  </div>

                  <div class="form-group">
                    <label for="email" class="form-label mandatory">Courriel :</label>
                    <input type="text" name="email" size="40"
                        class="form-control {% if form.errors %}state-invalid {% endif %}"
                        id="email" aria-describedby="emailHelp"
                        placeholder="Votre courriel" required />
                  </div>

                  <div class="form-group">
                    <label for="position" class="form-label">Fonction :</label>
                    <input type="text" name="position" size="40"
                        class="form-control {% if form.errors %}state-invalid {% endif %}"
                        id="position" aria-describedby="positionHelp"
                        placeholder="Votre fonction" />
                  </div>

                  <div class="form-group">
                    <label for="phone" class="form-label">Numéro de téléphone :</label>
                    <input type="text" name="phone" size="40"
                        class="form-control {% if form.errors %}state-invalid {% endif %}"
                        id="phone" aria-describedby="phoneHelp"
                        placeholder="06.12.34.56.78" />
                  </div>

                  <div class="form-check">
                    <input type="checkbox" name="contact" class="form-check-input"
                        id="contact" aria-describedby="contactHelp" />
                    <label for="contact" class="form-check-label">Je souhaite être recontacté pour plus d'informations sur collecte-pro</label>
                  </div>
                    
                  <div class="form-check">
                    <input type="checkbox" name="access" class="form-check-input"
                        id="access" aria-describedby="accessHelp" />
                    <label for="access" class="form-check-label">Je souhaite tester collecte-pro</label>
                  </div>

                  <div class="form-group">
                    <label for="message">Votre message :</label>
                    <textarea class="form-control" name="message" id="message" rows="3"></textarea>
                  </div>

                  <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Soumettre</button>
                  </div>
                </form>
              </div>
            </div>
          </section>
{% endblock page_main_container %}
