{% extends "presentation/accueil.html" %}
{% load static %}
{% block site_title %}
  <title>Tester collecte-pro | collecte-pro</title>
{% endblock site_title %}

{% block page_main_container %}
          <section>
            <div class="presentation">
              <div class="text left">
                <h1>Tester collecte-pro</h1>
                <p>
                Nous vous proposons de découvrir les fonctionnalités de la solution en
                vous donnant accès gratuitement à notre plateforme de démonstration :
                <a href="https://demo.collecte-pro.gouv.fr">demo.collecte-pro.gouv.fr</a>
                </p>
                <p>
                Aucun téléchargement. Aucun logiciel à installer. Aucun frais.
                </p>
                <p>
                Demandez un accès illimité à toutes les fonctions et capacités de
                collecte-pro en remplissant le formulaire ci-contre. Découvrez par
                vous-même comment collecter simplement des documents.
                </p>
                <p>
                En utilisant collecte-pro, vous vous engagez à respecter les CGU.
                </p>
              </div>
              <div class="form right">
                <form id="demo-form" class="contact" method="post" action="{% url 'presentation:validationFormulaire' %}">
                  {% csrf_token %}
                  <h2 class="text-center">Pour en savoir plus sur collecte-pro</h2>
                  <div class="form-group">
                    <label for="lastname" class="form-label mandatory">Nom :</label>
                    <input type="text" name="lastname" size="40"
                        class="form-control {% if form.errors %}state-invalid {% endif %}"
                        id="lastname" aria-describedby="lastnameHelp"
                        placeholder="Votre nom" required />
                  </div>

                  <div class="form-group">
                    <label for="firstname" class="form-label mandatory">Prénom :</label>
                    <input type="text" name="firstname" size="40"
                        class="form-control {% if form.errors %}state-invalid {% endif %}"
                        id="firstname" aria-describedby="firstnameHelp"
                        placeholder="Votre prénom" required />
                  </div>

                  <div class="form-group">
                    <label for="email" class="form-label mandatory">Courriel :</label>
                    <input type="text" name="email" size="40"
                        class="form-control {% if form.errors %}state-invalid {% endif %}"
                        id="email" aria-describedby="emailHelp"
                        placeholder="Votre courriel" required />
                  </div>

                  <div class="form-group">
                    <label for="position" class="form-label">Fonction :</label>
                    <input type="text" name="position" size="40"
                        class="form-control {% if form.errors %}state-invalid {% endif %}"
                        id="position" aria-describedby="positionHelp"
                        placeholder="Votre fonction" />
                  </div>

                  <div class="form-group">
                    <label for="phone" class="form-label">Numéro de téléphone :</label>
                    <input type="text" name="phone" size="40"
                        class="form-control {% if form.errors %}state-invalid {% endif %}"
                        id="phone" aria-describedby="phoneHelp"
                        placeholder="06.12.34.56.78" />
                  </div>

                  <div class="form-check">
                    <input type="checkbox" name="contact" class="form-check-input"
                        id="contact" aria-describedby="contactHelp" />
                    <label for="contact" class="form-check-label">Je souhaite être recontacté pour plus d'informations sur collecte-pro</label>
                  </div>
                    
                  <div class="form-check">
                    <input type="checkbox" name="access" class="form-check-input"
                        id="access" aria-describedby="accessHelp" />
                    <label for="access" class="form-check-label">Je souhaite tester collecte-pro</label>
                  </div>

                  <div class="form-group">
                    <label for="message">Votre message :</label>
                    <textarea class="form-control" name="message" id="message" rows="3"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="code" class="form-label">Captcha :</label>
                    <div name="botdetect-captcha" id="botdetect-captcha" data-captchastylename="captchaFR"></div>
                    <label for="code-rec">Recopiez le code de sécurité:</label>
                    <input class="form-control {% if form.errors %}state-invalid {% endif %}" name="captchaFormulaireExtInput"
                      id="captchaFormulaireExtInput" type="text" required />
                  </div>
                  <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Soumettre</button>
                  </div>
                </form>
              </div>
            </div>
          </section>

{% endblock page_main_container %}
{% block js_bundle %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/jquery-captcha.min.js' %}"></script>
<!--<script src="../../node_modules/jquery-captcha/dist/jquery-captcha.min.js"></script>-->
<script>
  $(document).ready(function () {
    console.log("Start read...");
    var captcha = $('#botdetect-captcha').captcha({
      //captchaEndpoint: 'URL_BACKEND/simple-captcha-endpoint'
      captchaEndpoint: '{% url "presentation:simple-captcha-endpoint" %}'

    });

    $('#demo-form').submit(function (event) {
      console.log("Start demo-form...");
      //var userEnteredCaptchaCode = captcha.getUserEnteredCaptchaCode();
      //var captchaId = captcha.getCaptchaId();
      var postData = {
        //userEnteredCaptchaCode: userEnteredCaptchaCode,
        //captchaId: captchaId
      };

      $.ajax({
        method: 'POST',
        url: '{% url "presentation:validationFormulaire" %}',
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(postData),
        success: function (response) {
          if (response.success == false) {
            captcha.reloadImage();
            console.log("Le code saisi ne correspond pas au code affiché. Veuillez recopier le nouveau code de sécurité proposé.");

          } else {

          }
        }
      });
    });
  });







  /*$(document).ready(function () {
    console.log('start...')
    $('#demo-form').submit(function (event) {
      //event.preventDefault();
      var formData = $(this).serialize();
      $.ajax({
        type: "POST",
        url: "demo",
        data: formData,
        success: function (response) {
          console.log('Formulaire envoyé avec succès');

        },
        error: function (xhr, status, error) {
          console.error('Erreur lors de l\'envoi du formulaire : ', error);
        }
      });
      //event.preventDefault();
    });

  });*/




</script>
{% endblock js_bundle %}
