.page-main {
background-color: white;
}

.nav-item {
margin-left: 3em;
}

#presentation .presentation {
background: url("/static/img/fond partenaires.png");
background-repeat: no-repeat;
background-position: 30% 0%;
margin: 2em 10em 6em 10em;
padding: 2em;
min-height: 26em;
}

#presentation .presentation .text {
width: 50%;
}

#presentation .presentation .form {
width: 40%;
position: relative;
top: 2em;
}

#presentation .presentation h1 {
background: url("/static/img/oblique_bleue.png") no-repeat;
background-position: 100% 0%;
font-size: 2em;
line-height: 2em;
}

#presentation .presentation p {
font-size: 1.4em;
width: 100%;
}

#presentation .presentation li {
list-style-type: none;
}

#presentation .illustration {
width: 45%;
max-width: 480px;
}

#presentation .right {
float: right;
}

#presentation .left {
float: left;
}

#presentation .vertical-middle {
display: table-cell;
text-align: center;
vertical-align: middle;
padding-top: 9em;
}

#presentation .large {
font-size: 120%;
}


#presentation .marker {
color: white;
background-color: #3473cb;
padding: .1em .3em;
margin-right: .4em;
line-height: 1.6em;
}

#presentation .icon::before {
content: "";
background-size: 80%;
display: inline-block;
width: 48px;
height: 48px;
position: relative;
margin-right: 1em;
top: 24px;
}

#presentation .plus::before {
background: url("/static/img/plus.svg") no-repeat 0px 0px;
}

#presentation .fleche::before {
background: url("/static/img/fleche.svg") no-repeat 0px 0px;
}

#presentation .fichier::before {
background: url("/static/img/fichier.svg") no-repeat 0px 0px;
}

#presentation .loupe::before {
background: url("/static/img/loupe.svg") no-repeat 0px 0px;
}

#presentation .demo {
clear: both;
display: block;
text-align: center;
padding-top: 6em;
}

#presentation .btn-demo {
display: inline-block;
max-width: 24em;
}

#presentation p.advice {
display: inline-block;
max-width: 256px;
min-height: 128px;
margin: 0px 1.6em;
vertical-align: top;
}

#presentation .picture {
display: block;
max-width: 128px;
margin: 0px auto;
}

#presentation .name {
display: block;
}

#presentation .stars {
display: block;
max-width: 128px;
margin: 0px auto;
height: 32px;
}

#presentation .stars img {
height: inherit;
}

#presentation .quote {
display: block;
font-size: .8em;
font-style: italic;
}

#presentation .tutoriel {
display: inline-block;
width: 30%;
line-height: 3em;
}

#presentation form.contact {
margin-bottom: 4em;
}

#presentation .mandatory::after {
content: "*";
color: red;
margin-left: .4em;
}

