.question-list-move {
    transition: transform 1s;
    /* same as SwapMixin.ANIMATION_DURATION_SECONDS */
}

.question-list-move.selected {
    z-index: 999;
    background-color: #ecf7fe;
    /* azure-lightest */
}

#bottom-bar {
    margin-left: -2rem;
    margin-right: -0.75rem;
}

.loader-container {
    text-align: center;
    z-index: 9999;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .4);
}

.loader-wrapper {
    background-color: rgba(255, 255, 255, .9);
    width: 200px;
    margin: auto;
    padding: 6px;
    border-radius: 6px;
}

.loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #6916a0;
    border-radius: 50%;
    animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #6916a0 transparent transparent transparent;
}

.tag-column {
    max-width: 7em;
}

.storage-column {
    min-width: 9em;
    max-width: 11em;
}

.storage-gauge-compact .progress {
    height: 6px;
}

.storage-gauge-compact small {
    display: block;
    margin-top: 2px;
}

.editor-column {
    min-width: 9em;
}

.editor-date {
    display: block;
}

.end-date-column {
    min-width: 9em;
}

.action-column {
    min-width: 10em;
}

.selected_row {
    color: white;
    background-color: #3473cb;
}

.selectable_row {
    cursor: pointer
}

.save-message {
    min-height: 1.5rem;
}

.custom-card-header {
    display: block;
    padding: 1rem;
}

.view-button {
    font-size: smaller;
}
/* Supprime le scroll horizontal global 
html,
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.card,
.card-header,
.card-body,
.form-control,
textarea,
input,
datepicker {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;

}


.card {
    margin: 0;
    padding: 16px;

}

.form-group {
    margin: 0 auto;
    padding: 8px 0;
}


.wizard-step-graphics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 320px) {
    body {
        overflow-x: hidden;
    }

    .card-title {
        font-size: 1.2rem;

        line-height: 1.4;
    }

    .form-label {
        font-size: 0.9rem;

    }

    textarea,
    input {
        font-size: 0.9rem;
        padding: 8px;
    }

    .form-control {
        padding: 8px;
        font-size: 0.9rem;
    }


    .card-body {
        padding: 8px;
    }

    .form-group {
        margin-bottom: 12px;
    }
}
*/