 #sidebar-vm {
     background-color: white;
 }

 /* Fix z-index for modal in CreateControl to be displayed correctly */
 .sidebar .v-sidebar-menu {
     z-index: unset;
 }

 /*
  Sidebar should not be too narrow, fix a min-width.
  The sidebar itself has a changing width (since it collapses, with an animation), so constrain the
  width of the sidebar-title instead.
  */
 #sidebar-title .card-title {
     min-width: 350px;
 }

 /* Place toggle button outside of the sidebar, in the navbar. */
 .sidebar {
     position: relative;
 }

 #sidebar-toggle-button {
     position: fixed;
     left: 350px;
     z-index: 1000;
     /* Just above sidebar items at z-index 999, but under modals at 1050 */
     transition: left 0.3s;
 }

 .collapsed #sidebar-toggle-button {
     transform: rotate(-90deg);
     left: -35px;
 }

 /* Don't show elements sticking out of the sidebar */
 .sidebar-body {
     overflow: hidden;
     /* Fix for IE : use inherit instead of unset, because IE doesn't know unset. This was breaking
    the modals placed inside the sidebar. */
     z-index: inherit;
 }

 /* Add borders to items */
 .v-sidebar-menu .vsm--item {
     border-bottom-width: 1px;
     border-bottom-style: solid;
     border-bottom-color: rgba(0, 40, 100, 0.12);
     /* same color as tabler borders */
 }

 .v-sidebar-menu .vsm--item:first-child {
     border-top-width: 1px;
     border-top-style: solid;
     border-top-color: rgba(0, 40, 100, 0.12);
     /* same color as tabler borders */
 }

 /* Wrap text for titles that overflow */
 .v-sidebar-menu .vsm--title {
     white-space: pre-wrap;
     /* Text was flowing over arrows */
     margin-right: 20px;
     word-break: break-word;
 }

 /* Style icons */
 .v-sidebar-menu.vsm_white-theme .vsm--icon,
 .v-sidebar-menu.vsm_white-theme .vsm--link_level-1 .vsm--icon {
     color: #495057;
     background-color: white;
 }

 .v-sidebar-menu.vsm_white-theme .vsm--link_level-1.vsm--link_exact-active .vsm--icon,
 .v-sidebar-menu.vsm_white-theme .vsm--link_level-1.vsm--link_active .vsm--icon {
     color: #495057;
     background-color: white;
 }

 /* Fix height of items when collapsed */
 .vsm_collapsed .vsm--item {
     height: 80px;
 }

 .v-sidebar-menu.vsm_white-theme.vsm_expanded .vsm--item_open .vsm--link_level-1 {
     background-color: #3473cb;
     color: #fff;
 }

 .v-sidebar-menu.vsm_white-theme.vsm_expanded .vsm--item_open .vsm--link_level-1 .vsm--icon {
     background-color: #3473cb;
 }