{% extends "base.html" %}
{% load static %}
{% load email_obfuscator %}
{% load parametres_tags %}
{% block site_title %}
  <title>Connexion | collecte-pro</title>
{% endblock site_title %}
{% block content %}
<div id="page" class="page white">
  <div id="non-footer" class="container">
    <div class="row" id="connectez-vous-a-collecte-pro">
      <div class="col-md d-none d-md-block entity-picture">
        {% get_entity_picture_item as entity_picture %}
        {% if entity_picture.url|slice:":4" == "http" %}
        <img src="{{ entity_picture.url }}" alt="{{ entity_picture.title }}" />
        {% else %}
        <img src="{% static entity_picture.url %}" alt="{{ entity_picture.title }}" />
        {% endif %}
      </div>
      <div class="col-md d-flex flex-column justify-content-between align-items-center">
        <div class="mt-2 mt-md-2 mt-lg-2 mb-2 d-flex flex-column justify-content-center align-items-center">
          <div class="mb-5 text-center" style="font-family: Trebuchet MS; font-size: 5em;">
            <span>collecte-pro</span>
          </div>
          <h3 class="mb-lg-5 text-center">
            La plateforme d'échange de documents <br/> durant les contrôles, audits, évaluations et inspections
          </h3>
          <div class="mt-5 mt-md-5 mt-lg-7 mt-xl-8 mb-5 mb-md-5 mb-lg-7 mb-xl-8 d-flex flex-column justify-content-center align-items-center">
            {% if user.is_authenticated %}
              <div class="alert alert-info text-center" role="alert">
                Vous êtes déjà connecté
              </div>
              <div class="text-center">
                  {%if settings.KEYCLOAK_ACTIVE %}
                  <form action="{% url 'oidc_logout' %}" method="post">
                    {% csrf_token %}
                    <a href="{% url 'control-detail' %}" class="btn btn-success">Accédez à l'accueil</a>
                    <input type="submit" class="btn btn-warning" value="Déconnectez-vous">
                  </form>
                  {%else%}
                  <a href="{% url 'control-detail' %}" class="btn btn-success">Accédez à l'accueil</a>
                  <a href="{% url 'logout' %}" class="btn btn-warning">Déconnectez-vous</a>
                  {%endif%}
              </div>
            {% else %}
              <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                {% if messages %}
                  <div class="text-center" role="alert">
                    {% for message in messages %}
                      <p {% if message.tags %}class="alert alert-{{ message.tags }}" role="alert"{% endif %}>{{ message }}</p>
                    {% endfor %}
                  </div>
                {% endif %}

                {%if settings.KEYCLOAK_ACTIVE %}
                  <div class="form-group">
                    <label class="form-label text-center"><h4>Connectez-vous à collecte-pro</h4></label>
                  </div>
                  <a href="{% url 'oidc_authentication_init' %}" class="btn btn-primary btn-block">Se connecter</a>
                {%else%}
                  <div class="form-group">
                    <label class="form-label text-center"><h4>Connectez-vous à collecte-pro</h4></label>
                    <input type="text"
                            name="username"
                            size="40"
                            class="form-control {% if form.errors %}state-invalid {% endif %}"
                            id="username"
                            aria-describedby="usernameHelp"
                            placeholder="Votre identifiant"
                            required />
                      {% for error in form.username.errors %}
                        <div class="alert alert-danger text-center" role="alert">
                          {{ error }}
                        </div>
                      {% endfor %}
                    <input type="password"
                            name="password"
                            size="40"
                            class="form-control {% if form.errors %}state-invalid {% endif %}"
                            id="password"
                            aria-describedby="passwordHelp"
                            placeholder="Votre mot de passe"
                            required />
                      {% for error in form.password.errors %}
                        <div class="alert alert-danger text-center" role="alert">
                          {{ error }}
                        </div>
                      {% endfor %}
                  </div>
                  <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
                {%endif%}
            </form>
            {% endif %}
            <div class="text-center text-muted small mt-2 mt-lg-5">
              <p class="my-0">Vous rencontrez des difficultés pour vous connecter ?</p>
            </div>
            <div class="text-center text-muted small">
              <p class="my-0">
              {% get_support_email_item as support_email %}
              {{ support_email.url|obfuscate_mailto:"Demandez de l'aide" }}
              ou
              <a href="{% url 'faq' %}">consultez la Foire aux Questions</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="" id="a-quoi-sert-collecte-pro">
      <div class="row">
        <div class="col-sm text-center">
          <h1>collecte-pro est un service qui simplifie l’échange de documents entre l’administration et les organismes qu’elle sollicite</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm text-center">
          <video width="640" height="480" controls>
              <source src="{% static 'videos/collecte-pro.mp4' %}" type="video/mp4">
              <span>Votre navigateur ne supporte pas le rendu de vidéos.</span>
          </video>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="mt-7 mb-7 text-center">
            <div>
              <img src="{% static 'img/controleur_square.png' %}" class="round max-width-250" alt="Membre de l'équipe d'instruction au travail" />
            </div>
            <h2 class="mt-4">
              Équipe d’instruction
            </h2>
          </div>
          <ol class="text-large-paragraph">
            <li>
              <strong>Créez des espaces de dépôt</strong> étanches, pour chaque organisme interrogé
            </li>
            <li>
              <strong>Créez vos questionnaires</strong> pour chaque espace de dépôt
            </li>
            <li>
              <strong>Ouvrez les accès</strong> aux membres de votre équipe et aux agents désignés des organismes interrogés
            </li>
            <li>
              <strong>Soyez alertés</strong> si des réponses sont déposées
            </li>
            <li>
              <strong>Visualisez les réponses</strong> directement sur la plateforme sous chaque question
            </li>
            <li>
              <strong>Exportez les réponses</strong> dans un fichier compressé
            </li>
          </ol>
        </div>
        <div class="col-sm">
          <div class="mt-7 mb-7 text-center">
            <div>
              <img src="{% static 'img/controlee_square.png' %}" class="round max-width-250" alt="Membre de l'organisme interrogé au travail" />
            </div>
            <h2 class="mt-4">
              Organisme interrogé
            </h2>
          </div>
          <ol class="text-large-paragraph">
            <li>
              <strong>Connectez-vous</strong> grâce à votre email professionnel de façon sécurisée
            </li>
            <li>
              <strong>Découvrez le ou les questionnaires</strong> qui vous sont adressés
            </li>
            <li>
              <strong>Déposez vos réponses</strong> sous chaque question
            </li>
            <li>
              <strong>Visualisez vos réponses</strong> sur la plateforme
            </li>
          </ol>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="m-6">
          Pour en savoir plus, consultez la
          <a href="{% url 'faq' %}">
            Foire aux Questions
          </a>
          ou
          <a href="#connectez-vous-a-collecte-pro">
            connectez-vous
          </a>
          !
          <img class="france_relance" src="static/img/Logo-France-Relance_medium.png" />
        </div>
      </div>
    </div>
  </div>
  {% include "footer.html" %}
</div>
{% endblock content %}