{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>collecte-pro notification</title>
    <link rel="stylesheet" href="{% static 'css/email.css' %}">
  </head>
  <body class="">
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">

            <!-- START CENTERED WHITE CONTAINER -->
            <table class="main">

              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="6" cellspacing="0">
                    <tr>
                      <td align="center" class="brand-cell">
                        <span>collecte-pro</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        {% block email_content %}{% endblock email_content %}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

            <!-- END MAIN CONTENT AREA -->
            </table>

            <!-- START FOOTER -->
            <div class="footer">
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                  <span class="apple-link">collecte-pro<br />La plateforme d'échange de documents durant les contrôles, audits, évaluations et inspections.</span>
                  </td>
                </tr>

              </table>
            </div>
            <!-- END FOOTER -->

          <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>
</html>
