{% load static %}

<div id="footer" class="footer pb-0">
  <div class="container">
    <div class="flex-row justify-content-between align-items-center">
      <div class="text-center">
        <img src="{% static settings.LOGO_FOOTER %}" class="img" alt="logo bas de page" style="max-width: 500px; width: 60%;"/>
      </div>
      <div class="flex-grow">
        e-collecte
        <span>
          <a href="https://github.com/SocialGouv/ecollecte/blob/1.0/docs/releases/1.0.md">v1.0</a>
        </span>
      </div>
      <div class="flex-grow">
        <span>Accessibilité : Non conforme</span>
      </div>
      <div class="flex-grow">
        <a href="{% url 'tos' %}">Conditions générales d'utilisation</a>
      </div>
    </div>
  </div>
</div>