{% load static %}
{% load parametres_tags %}

<footer id="footer" class="footer pb-0" role="contentinfo">
  <div class="container">
    <div class="flex-row justify-content-between align-items-center">
      <div class="text-center">
        {% get_logo_footer_item as logo_footer %}
        {% if logo_footer.url|slice:":4" == "http" %}
        <img src="{{ logo_footer.url }}" class="img" alt="{{ logo_footer.title }}" style="max-height: 110px; min-width: 150px"/>
        {% else %}
        <img src="{% static logo_footer.url %}" class="img" alt="{{ logo_footer.title }}" style="max-height: 110px; min-width: 150px"/>
        {% endif %}
      </div>
      <div class="container">
        <div class="flex-row justify-content-end">
          {% get_liens_footer_items as liens_footer %}
          {% for lien in liens_footer %}
          <ul class="flex-grow links" style="margin-left: 2em">
            <li>
                <a href="{{ lien.url }}" title="{{lien.title}}" target="_blank" rel="noopener noreferrer"><b>{{ lien.name }}</b></a>
            </li>
          </ul>
          {% endfor %}
        </div>
        <ul class="flex-row justify-content-between align-items-center links">
          <li class="flex-grow">
            collecte-pro
            <a href="https://github.com/SocialGouv/ecollecte/blob/main/docs/releases/2.1.2.md" target="_blank" rel="noopener noreferrer">v2.1.2</a>
          </li>
          <li class="flex-grow">
            <a href="{% url 'declarationConformite' %}">Accessibilité : Non conforme</a>
          </li>
          <li class="flex-grow">
            <a href="{% url 'tos' %}">Conditions générales d'utilisation</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>