{% load static %}
{% load parametres_tags %}

<footer id="footer" class="footer pb-0" role="contentinfo">
  <div class="container">
    <div class="flex-row justify-content-between align-items-center">
      <div class="text-center">
        {% get_logo_footer_item as logo_footer %}
        {% if logo_footer.url|slice:":4" == "http" %}
        <img src="{{ logo_footer.url }}" class="img" alt="{{ logo_footer.title }}" style="max-height: 110px; min-width: 150px"/>
        {% else %}
        <img src="{% static logo_footer.url %}" class="img" alt="{{ logo_footer.title }}" style="max-height: 110px; min-width: 150px"/>
        {% endif %}
      </div>
      <div class="container">
        <div class="flex-row justify-content-end">
          {% get_liens_footer_items as liens_footer %}
          {% for lien in liens_footer %}
          <div class="flex-grow" style="margin-left: 2em">
            <a href="{{ lien.url }}" title="{{lien.title}}" target="_blank" rel="noopener noreferrer"><b>{{ lien.name }}</b></a>
          </div>
          {% endfor %}
        </div>
        <div class="flex-row justify-content-between align-items-center">
          <div class="flex-grow">
            collecte-pro
            <span>
              <a href="https://github.com/SocialGouv/ecollecte/blob/main/docs/releases/2.1.1.md" target="_blank" rel="noopener noreferrer">v2.1.1</a>
            </span>
          </div>
          <div class="flex-grow">
            <span>
              <a href="{% url 'declarationConformite' %}">Accessibilité : Non conforme</a>
            </span>
          </div>
          <div class="flex-grow">
            <a href="{% url 'tos' %}">Conditions générales d'utilisation</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>