[Unit]
Description=Ecollecte web application

[Service]
Type=simple
ExecStart=/bin/bash -c 'cd /home/ecollecte/ecollecte/; source /home/ecollecte/ecollecte/.env; /home/ecollecte/venv/bin/uwsgi --ini /home/ecollecte/ecollecte/uwsgi.ini'
ExecStop=/home/ecollecte/venv/bin/uwsgi --stop /tmp/wsgi-master.pid
User=ecollecte

[Install]
WantedBy=multi-user.target
